:root {
    --color-stroke: #c2c2c2;
    --color-headerText: #666872;
    --color-background: #d9d9d9;
    --color-1: #898181;
    --color-2: rgb(94, 91, 91);
    
}

.sticky-bar {
    position: sticky;
    top: 0;
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
    z-index: 100;
    border-top: 2px solid #c2c2c2;
    border-bottom: 2px solid #c2c2c2;
}

.sticky-bar a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
}

.p1 .row {
    padding-top: 15px;
    margin: 30px 0 100px 0;
    border-bottom: 2px solid #333;
    border-top: 2px solid #333;
}
.p1 p:hover {
    text-decoration: underline; 
    box-sizing: border-box;   
    transform: translateX(5px);
    color: #000;
}
.p1 p {
    color: var(--color-1);
    transition: all 0.2s ease;
}
.visit:active {
    background-color: red;
}



/* @media (width < 600px){ 
    .container { background-color: red;}
}
@media (width >= 600px){
    .container{ background-color: blue;}
} */